{% extends "BaseLayout.html" %}

{% block content %}
<h1 class = "Canucks_header">Canucks</h1>
<table class = "Canucks_table">
    <tr>
        <th>Wins</th>
        <th>Losses</th>
        <th>OT</th>
        <th>Points</th>
    </tr>
    {% for t in team %}
    <tr>
        <td>{{ t.Wins }}</td>
        <td>{{ t.Losses }}</td>
        <td>{{ t.OT }}</td>
        <td>{{ t.Points }}</td>
    </tr>
    {% endfor %}
</table>

<section class ="Roster">
    <table class = "Roster_table">
        <tr>
            <th>Player</th>
        </tr>
        {% for p in player%}
        <tr>
            <td>{{ p.playerName }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
