{% extends "BaseLayout.html" %}

{% block content %}
<h1 class = "Canucks_header">Canucks</h1>
<table class = "Canucks_table">
    <tr>
        <th>Wins</th>
        <th>Losses</th>
        <th>OT</th>
        <th>Points</th>
    </tr>
    {% for t in team %}
    <tr>
        <td>{{ t.Wins }}</td>
        <td>{{ t.Losses }}</td>
        <td>{{ t.OT }}</td>
        <td>{{ t.Points }}</td>
    </tr>
    {% endfor %}
</table>

<section class ="Roster">
    <h1 class = "Canucks_header">Forwards</h1>
    <table class = "Forwards_table">
        <tr>
            <th>Player</th>
            <th>Position</th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Points</th>
        </tr>
        {% for p, s in forwards%}
        <tr>
            <td>{{ p.playerName }}</td>
            <td>{{ p.Position }}</td>
            <th>{{ s.Goals }}</th>
            <th>{{ s.Assists }}</th>
            <th>{{ s.Points }}</th>
        </tr>
        {% endfor %}
    </table>
    <h1 class = "Canucks_header">Defensemen</h1>
    <table class = "Defence_table">
        <tr>
            <th>Player</th>
            <th>Position</th>
        </tr>
        {% for d in defence%}
        <tr>
            <td>{{ d.playerName }}</td>
            <td>{{ d.Position }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1 class = "Canucks_header">Goalies</h1>
    <table class = "Goalies_table">
        <tr>
            <th>Player</th>
            <th>Position</th>
        </tr>
        {% for g in goalies%}
        <tr>
            <td>{{ g.playerName }}</td>
            <td>{{ g.Position }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
