<nav class="navbar {% if navbar_color == 'Canucks' %}canucks-color
                   {% elif navbar_color == 'Oilers' %}oilers-color
                   {% else %}default-color {% endif %}">
    <a href="{{ url_for('home')}}">Home</a>
    <div class="dropdown">
        <a href="#" class="dropbtn"> Team </a>
        <div class="dropdown-content">
            <a 
            href="{{ url_for('Canucks') }}" 
            >Canucks
            </a>
            <a 
            href="{{ url_for('Oilers') }}" 
            >Oilers
            </a>
        </a>
        </div>
    </div>
</nav>
